#main{
    width: 50%;
    margin: auto;
    text-align: center;
    margin-top: 20px;
}
#main img{
    width: 100%;
    height: 100%;
}
#main button{
    margin: auto;
    width: 20%;
    padding: 10px;
    font-size: 15px;
    background-color: #c83259;
    color: white;
    margin-top: 20px;
    border-radius: 20px;
}